body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.headerButton{
  color: #FBF8EF;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}
.headerButton:hover{
  color: blue;
}
.button{
  display: inline-block;
  margin: 5%;
  padding: 10px;
  background: #144E9A;
  font-weight: bold;
  border: 1px solid;
  color: #FBF8EF;
  cursor: pointer;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
.button:hover{
  background: #0d3568;
  transition: 1s ease-out;
}
